*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1260px;
  margin: 0 auto;
}

.debug{
  border: 2px dashed black;
}

.debug-white{
  border: 2px dashed white;
}

.d-flex{
  display: flex;
}

.button{
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.button.small-button{
  padding: 8px 10px;
  font-size: .8rem;
}

.button.big-button{
  padding: 17px 22px;
  border-radius: 50px;
  font-size: 1.2rem;
}

.button.black-button{
  background-color: black;
  color: white;
}

/* header */

header{
  height: 80px;
  background-color: rgb(37, 92, 232);
  flex-wrap: wrap;
  align-items: center;
}

header .header-bar{
  align-items: center;
  width: 100%;
}

header .header-bar .header-logo{
  width: 25%;
  padding: 10px;
}

header .header-bar nav{
  width: 50%;
  padding: 10px;
}

header .header-bar .login{
  width: 25%;
  padding: 10px;
  text-align: end;
}

header nav ul{
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

header nav ul li a{
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  padding: 0 5px;
}

/* jumbotron */

section.jumbotron{
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -80px;
  padding: 60px 0;
}

section.jumbotron div.downloads{
  width: 900px;
  height: 400px;
  padding: 50px;
  text-align: center;
  color: white;
}

section div h1{
  font-size: 3rem;
  margin-bottom: 40px;
}

section div p{
  font-size: 1.3rem;
}

section div .button{
  margin: 40px 20px;
}

/* main */

main .main-section{
  width: 100%;
  height: 100%;
}

main .main-section-grey{
  background-color: rgb(212, 212, 212);
}

main div.container{
  padding: 60px 0;
}

main section .main-img{
  width: 60%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

main section .main-text{
  width: 40%;
  height: 500px;
  padding: 70px 80px;
}

main section .main-text h2{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

main section .main-text p{
  font-size: 1.2rem;
}

main section #img-study-group{
  background-image: url(../img/item1.svg);
}

main section #voice-connected{
  background-image: url(../img/item2.svg);
}

main section #roles{
  background-image: url(../img/item3.svg);
}

main section .main-big{
  width: 100%;
  height: 900px;
  background-color: rgb(34, 140, 34);
}

/* footer */

footer section {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 38, 41);
}

footer .footer-top{
  border-bottom: 2px solid rgb(125, 126, 128);
}

footer section div.ftop-container{
  padding: 10px 0 60px;
}

footer section div.fbottom-container{
  padding-top: 40px;
}

footer section .footer-big{
  flex-grow: 2;
  height: 600px;
  background-color: rgb(240, 127, 127);
}

footer section .footer-small{
  flex-grow: 1;
  height: 600px;
  background-color: rgb(32, 179, 171);
}

footer section .footer-end{
  width: 100%;
  height: 100px;
  background-color: rgb(128, 255, 212);
  justify-content: space-between;
  align-items: center;
}

footer section .footer-logo, footer section .footer-button{
  background-color: rgb(255, 181, 192);
  padding: 7px 10px;
}
