*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

.container{
  max-width: 1260px;
  margin: 0 auto;
}

.debug{
  border: 2px dashed black;
}

.debug-white{
  border: 2px dashed white;
}

.d-flex{
  display: flex;
}

.button{
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.button.small-button{
  padding: 8px 10px;
  font-size: .8rem;
}

.button.big-button{
  padding: 17px 22px;
  border-radius: 50px;
  font-size: 1.2rem;
}

.button.black-button{
  background-color: black;
  color: white;
}

.button.blue-button{
  background-color: rgb(141, 161, 224);
  color: white;
}

/* header */

header{
  height: 80px;
  background-color: rgb(37, 92, 232);
  flex-wrap: wrap;
  align-items: center;
}

header .header-bar{
  align-items: center;
  width: 100%;
}

header .header-bar .header-logo{
  width: 25%;
  padding: 10px;
}

header .header-bar nav{
  width: 50%;
  padding: 10px;
}

header .header-bar .login{
  width: 25%;
  padding: 10px;
  text-align: end;
}

header nav ul{
  justify-content: space-around;
  flex-wrap: wrap;
}

header nav ul li a{
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  padding: 0 5px;
}

/* jumbotron */

section.jumbotron{
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -80px;
  padding: 60px 0;
}

section.jumbotron div.downloads{
  width: 900px;
  padding: 50px;
  text-align: center;
  color: white;
}

section div h1{
  font-size: 3rem;
  margin-bottom: 40px;
}

section div p{
  font-size: 1.3rem;
}

section div .button{
  margin: 40px 20px;
}

/* main */

main .main-section-grey{
  background-color: rgb(245, 245, 245);
}

main div.container{
  padding: 60px 0;
}

main section .main-img{
  width: 60%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

main section .main-text{
  width: 40%;
  height: 500px;
  padding: 70px 80px;
}

main section .main-text h2, main section .main-big .main-big-title h2{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

main section .main-text p, main section .main-big p{
  font-size: 1.2rem;
}

main section #img-study-group{
  background-image: url(../img/item1.svg);
}

main section #voice-connected{
  background-image: url(../img/item2.svg);
}

main section #roles{
  background-image: url(../img/item3.svg);
}

main section .main-big{
  width: 100%;
  padding: 50px;
  text-align: center;
}

main section .main-big .main-big-img{
  width: 100%;
  height: 700px;
  background-image: url(../img/item4-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section .main-big .main-big-star{
  width: fit-content;
  margin: auto;
  padding: 50px 50px 0;
  font-size: 1.8rem;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* footer */

footer section {
  background-color: rgb(34, 38, 41);
}

footer section div.ftop-container{
  padding: 10px 0 60px;
  border-bottom: 1px solid rgb(141, 161, 224);
}

footer section div.fbottom-container{
  padding-bottom: 40px;
}

footer section .footer-big{
  flex-direction: column;
  width: 32%;
  height: 600px;
}

footer section .footer-small{
  width: 17%;
  height: 600px;
}

footer section .footer-small ul li{
  margin-bottom: 20px;
  color: white;
}

footer .footer-top .footer-title{
  padding-top: 70px;
  font-size: 1.3rem;
  color: rgb(141, 161, 224);
}

footer .footer-top .footer-big h2{
  font-size: 2rem;
}

footer .footer-top .footer-big .language{
  color: white;
  margin-top: 30px;
}

footer .footer-top .footer-big img{
  width: 30px;
}

footer .footer-top .footer-big .socials{
  flex-direction: row;
  font-size: 2rem;
  color: white;
}

footer .footer-top .footer-big .social{
  padding: 20px 20px 0 0;
}

footer section .footer-end{
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

footer section .footer-end .footer-login{
  margin-right: 0;
}